# 仮想環境のフォルダ
venv/
.env

# Pythonのバイトコード
__pycache__/
*.pyc

# 大きなファイル
*.lib
*.dll

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# その他のIDEやエディタの設定ファイル
.vscode/
.idea/
*.swp
*.swo

# OSの生成するファイル
.DS_Store
Thumbs.db

# PyTorchの大きなライブラリファイル
venv/Lib/site-packages/torch/lib/*.dll
venv/Lib/site-packages/torch/lib/*.lib